doctype html
html(lang="en")
  head
    title task650
    meta(charset="utf-8")
    link(rel="icon",sizes="any",mask="",href="img/somesvg.svg")
    meta(name="theme-color",content="#00796B")
    link(rel="shortcut icon",href="img/favicon.png")
    link(rel="stylesheet",href="css/main.css")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="author",content="Sean Hacker")
    meta(name="description",content="Hacker Development")
    meta(name="twitter:card",content="summary")
    meta(name="twitter:url",content="http://twitter.com/@task650")
    meta(name="twitter:title",content="Sean Hacker")
    meta(name="twitter:description",content="Hacker Development")
    meta(name="twitter:image",content="img/avatar.jpg")
    <!-- website made by @task650 on github -->
  
  body
    header
      .profile
      h1 Sean Hacker
      h2 Android Developer
    
    #links.findme
      h1 Where to find me
      .links
        a(href="https://twitter.com/@task650")
          i(class="fa fa-twitter")
        a(href="https://google.com/+SeanHacker")
          i(class="fa fa-google-plus")
        a(href="https://github.com/task650")
          i(class="fa fa-github")
        a(href="https://www.linkedin.com/in/sean-hacker-67b617123")
          i(class="fa fa-linkedin")
    footer
      p Copyright &copy; 2016 All Rights Reserved.
      
    script(src="js/jquery-2.2.4.min.js")
    script(src="js/main.js")
